* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
    // color: #5c08f2;
}

.navigation {
    background-color: #5c08f2;
    text-align: center;
    padding: 1%;

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 30px;
        margin: 5%;
    }
}
